body {
  display:flex;
  justify-content: center;
  background-color: lavenderblush; 
  
}

.btn {
  display: block;
  background-color: blueviolet;
  color: lightskyblue;
  margin: 22px;
  width: 250px; 
  text-align: center;
}

 
